<header class="header-area header-sticky" style="overflow-x: hidden; overflow-y: hidden;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <img src="/assets/Black_White_Modern_Online_Shop_Logo-removebg-preview.png" class="logo" alt="Your Shop Logo">
            <ul class="nav">
              <li class="user"><a href=""><i class="fa-solid fa-user"></i></a></li>
              <li class="language">
                <a href="#">
                  <img src="/assets/france-removebg-preview.png" alt="French" width="20" height="20"> </a>
                <ul class="language-dropdown">
                  <li><a href="#" data-lang="EN"><img src="/assets/france-removebg-preview.png" alt="English" width="20" height="20"> France</a></li>
                  <li><a href="#" data-lang="AR"><img src="/assets/algerie-removebg-preview.png" alt="Arabic" width="20" height="20"> Algerie</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  
<section>
    <div class="image-text">
        <div class="image">
            <img src="/assets/Minimalist design infused with AI elements.jpg" alt="">
        </div>
    </div>
</section>
<section>
    <!-- <div class="text">
        <p>The first platform that deals with merchants, and we work to provide you with the best store websites</p>
    </div> -->
    <div class="Rechercher">
        <input type="text" id="search-input" placeholder="Rechercher...">
        <button type="submit" id="search-button">Rechercher</button>
    </div>
      


</section>

<section>
    <div class="cards">
    <div class="card">
      <div class="card-content">
        <div class="icon">
            <img src="/assets/store.png">
        </div>
        <h3>List of stores</h3>
      </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="icon">
                <img src="/assets/list.png">
            </div>
          <h3>Product List</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
            <div class="icon">
                <img src="/assets/gift.png">
            </div>
          <h3>Discount offers</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
            <div class="icon">
                <img src="/assets/delivery-man.png">
            </div>
          <h3>Delivery</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
            <div class="icon">
                <img src="/assets/address-location.png">
            </div>
          <h3>Address stores</h3>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
            <div class="icon">
                <img src="/assets/menu.png">
            </div>
          <h3>Others</h3>
        </div>
      </div>
    </div>

    <p style="text-align: center;
    font-weight: 800; font-size: 26px;">Why Mobile Onilne Shop ?</p>

<div class="section-smartphone">
  <div class="image-phone">
    <div class="left-image">
        <div class="local">
            <div class="icon-local">
                <i class="fa-solid fa-map-location-dot"></i>
            </div>
            <div class="image-tel">
                <img src="/assets/Untitled design (1).png" style="width: 340px;" alt="Location icon">
            </div>
            <div class="text-par">
            <h2>Search and geolocation</h2>
            <p>find and geolocate your stores (all categories)</p>
            </div>
        </div>
    </div>
    <div class="right-image">
        <div class="sale">
          <div class="icon-sale">
              <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="image-tel">
            <img src="/assets/Untitled design (2).png" style="width: 340px;" alt="Map screenshot">
          </div>
          <div class="text-par">
            <h2>Discount</h2>
            <p>Visit us today to take advantage of our daily offers and amazing discounts</p>
          </div>
      </div>
    </div>
</div>


     <div class="image-phone"> 
      <div class="left-image">
          <div class="Delivery">
            <div class="icon-truck">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="image-tel">
            <img src="/assets/Untitled design (3).png" style="width: 340px;" alt="Delivery truck icon">
          </div>
          </div>
          <div class="text-par">
          <h2>Delivery</h2>
          <p>On-demand delivery of orders safely and quickly</p>
        </div>
      </div>
      <div class="right-image">
      <div class="Product" >
            <div class="icon-product">
                <i class="fa-brands fa-product-hunt"></i>
            </div>
            <div class="image-tel">
              <img  src="/assets/Untitled design (4).png" style="width: 340px;" alt="Product display">
            </div>
      </div>
      <div class="text-par">
      <h2>Product</h2>
      <p>Wide variety of products</p>
      </div>
    </div>
    </div>
  </div>
  </section>
  <section style="padding-top: 70px;">
      <h2 style="text-align: center;">Our most</h2>
      <div class="tout">
      <div class="family-text" style="text-align: center;">
        <div class="family" style="font-size: 100px;">
          <i class="fa-solid fa-people-roof"></i>
        </div>
        <div class="text-section-one">
          <h2>One account for the whole family</h2>
          <p>To manage everything and for all members of the family</p>
        </div>
      </div>
      <div class="heart-text" style="text-align: center;">
        <div class="heart" style="font-size: 100px;">
          <i class="fa-solid fa-hand-holding-heart"></i>
        </div>
        <div class="text-section-two">
          <h2>Simple, fast and intuitive</h2>
          <P>UI/UX adapted for all users whatever their levels and ages.</P>
      </div>
      </div>
      <div class="desktop-text" style="text-align: center;">
        <div class="desktop" style="font-size: 100px;">
          <i class="fa-solid fa-desktop"></i>
        </div>
        <div class="text-section-two">
          <h2>One platform for all</h2>
          <p>One application for all needs in the field of buying and selling, all categories and all specialties</p>
        </div>
      </div>
      </div>
  </section>
  <section>
    <h2 style="text-align: center;">You are a practitioner</h2>
    
    <div class="image-image">
    
    </div>
    <div>

    </div>
  
  </section>
  
